# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
.venv1/
venv/
env/

# IDE
.idea/
.vscode/


# Environment Variables
.env

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# OS Files
.DS_Store
Thumbs.db

# Django collected static files
staticfiles/

# Media uploads
media/